<div class="mt-4 pt-3 border-top text-center">
  <%- if controller_name != 'sessions' %>
    <p class="mb-2"><%= link_to "Already have an account? Log in", new_session_path(resource_name), class: "text-decoration-none text-secondary fw-semibold" %></p>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="mb-2"><%= link_to "Don't have an account? Sign up", new_registration_path(resource_name), class: "text-decoration-none text-secondary fw-semibold" %></p>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p class="mb-2"><%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none text-secondary fw-semibold" %></p>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p class="mb-2"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-decoration-none text-secondary fw-semibold" %></p>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <p class="mb-2"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "text-decoration-none text-secondary" %></p>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <p class="mb-2"><%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn btn-outline-secondary w-100 fw-semibold" %></p>
    <% end %>
  <% end %>
</div>
